.gallery-root {
  text-align: center;
  width:100vw ;
  position: relative;
}

.gallery-header {
  background-color: #222;
  padding: 0px;
  color: white;
  font-size: 20pt;
}

.gallery-intro {
  font-size: 15pt;
}
